%li#order_menu_item{class: 'nested-fields'}
  = f.label :menu_item_quantity
  = f.text_field :menu_item_quantity, class: 'order_menu_item_quantity'
  = f.select :menu_item_id, MenuItem.all.collect { |i| [i.description, i.id] }, {}, class: 'order_menu_item_id'
